<div class="top-frame">
    <h3>Gênero</h3>
</div>
<%= render @movie_genre %>

<div>
  <%= link_to "Edit this movie_genre", edit_movie_genre_path(@movie_genre) %> |
  <%= link_to "Back to movie_genres", movie_genres_path %>

  <%= button_to "Destroy this movie_genre", @movie_genre, method: :delete %>
</div>
